* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main_wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
    align-items: center;
}
#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 800px;
}
#pointer_wrap {
  display: flex;
}
.pointer {
  width: 20px;
  height: 20px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
}
.active {
  background-color: blue;
}
